<div class="ui container">
  <div class="ui pointing menu">
    <a class="active item">
      {{ 'FIRSTPAGE.HOME' | translate }}
    </a>
    <a class="item" (click)="translateEnglish()">
      {{ 'FIRSTPAGE.ENGLISH' | translate }}
    </a>
    <a class="item" (click)="translatePortuguese()">
      {{ 'FIRSTPAGE.PORTUGUESE' | translate }}
    </a>
  </div>
  <br>

  <form class="ui form">
    <div class="field">
      <label>{{ 'FIRSTPAGE.FORM.FIRST' | translate }}</label>
      <input #first type="text" name="first-name" [placeholder]="'FIRSTPAGE.FORM.FIRST' | translate">
    </div>
    <div class="field">
      <label>{{ 'FIRSTPAGE.FORM.LAST' | translate }}</label>
      <input #last type="text" name="last-name" [placeholder]="'FIRSTPAGE.FORM.LAST' | translate">
    </div>

    <div class="field">
      <div class="ui checkbox">
        <input type="checkbox" tabindex="0">
        <label>{{ 'FIRSTPAGE.FORM.AGREE' | translate }}</label>
      </div>
    </div>
    <button class="ui button black" type="submit">
      {{ 'FIRSTPAGE.FORM.BUTTON' | translate }}
    </button>
  </form>
</div>
